<!--Displaying the error message if the user enters an EID that is already in the Mongo database -->
<h3>Error Message</h3>
<br>
<h4>Error: EID <%= employee._id %> already exists in MongoDB</h4>
<br><a href="/">Home</a>