<!--Displaying the error message if the user enters an EID that is not in the MySQL database -->
<h3>Error Message</h3>
<br>
<h4>Employee <%= employee.eid %> doesn't exist in MySQL DB</h4>
<br><a href="/">Home</a>