<!--Showing an error message only if a department has associated employees and it cannot be deleted -->
<h3>Error Message</h3>
<br>
<h4>OPS has Employees and cannot be deleted</h4>
<br><a href="/">Home</a>